@import "../../globals";

.button {
  padding: 10px;
  border: none;
  min-width: 100px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  transition: 200ms;

  &:disabled {
    opacity: 0.7;
    cursor: no-drop;
  }
}

.button.primary {
  color: $white;
  background-color: $blue;
}

.button.secondary {
  color: $black;
  background-color: $gray;
}
