@import "../../globals";

.header {
  width: 100%;
  padding: 20px 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blue;

  h2,
  p {
    margin: 0;
    opacity: 0.9;
    color: $white;
  }

  p {
    font-size: 12px;
  }
}
